-e .
-e third_party/soma
torchvision
timm==0.6.7
lightning==2.6.1
hydra-core==1.3.0
hydra-colorlog==1.2.0
rich
numpy<2
scipy
pillow
tqdm
pyyaml
setuptools<75
opencv-python-headless
ffmpeg-python
einops
imageio==2.34.1
av<14
safetensors
trimesh
transformers
wandb
open3d
onnxruntime-gpu
